<div class="card shadow overflow-hidden">
  <div class="">
    <div class="row">
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
        <div class="text-center">
          <p class="text-light">
            <i class="fas fa-chart-line mr-2"></i>
            فروش روزانه
          </p>
          <h2 class="text-primary text-xxl">1235</h2>
          <a href="#" class="btn btn-outline-primary btn-pill btn-sm">30%
            کاهش</a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
        <div class="text-center">
          <p class="text-light">
            <i class="fas fa-users mr-2"></i>
            کاربران جدید
          </p>
          <h2 class="text-yellow text-xxl">523</h2>
          <a href="#" class="btn btn-outline-yellow btn-pill btn-sm">10%
            افزایش</a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
        <div class="text-center">
          <p class="text-light">
            <i class="fas fa-cart-arrow-down mr-2"></i>
            سفارشات روزانه
          </p>
          <h2 class="text-warning text-xxl">785</h2>
          <a href="#" class="btn btn-outline-warning btn-pill btn-sm">9%
            کاهش</a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
        <div class="text-center">
          <p class="text-light">
            <i class="fas fa-signal mr-2"></i>
            درآمد روزانه
          </p>
          <h2 class="text-danger text-xxl">125 تومان</h2>
          <a href="#" class="btn btn-outline-danger btn-pill btn-sm">10%
            کاهش</a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
        <div class="text-center">
          <p class="text-light">
            <i class="fas fa-dollar-sign mr-2"></i>
            سود روزانه
          </p>
          <h2 class="text-success text-xxl">30 تومان</h2>
          <a href="#" class="btn btn-outline-success btn-pill btn-sm">5%
            افزایش</a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 stats">
        <div class="text-center">
          <p class="text-light">
            <i class="fas fa-briefcase mr-2"></i>
            ارزش بازار
          </p>
          <h2 class="text-primary text-xxl">12</h2>
          <a href="#" class="btn btn-outline-primary btn-pill btn-sm">بازدید</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    <div class="card shadow overflow-hidden">
      <div class="card-body">
        <div class="widget text-center">
          <div><i class="fas fa-users fa-5x text-yellow"></i></div>
          <h4 class="text-muted mt-2 mb-0">بازدیدکنندگان آنلاین</h4>
          <h2 class="display-2 mb-0">25,685</h2>
          <a href="#" class="btn btn-outline-yellow mt-3 btn-sm btn-pill">مشاهده
            همه</a>
        </div>
      </div>
      <span class="updating-chart" data-peity='{ "fill": ["#ffa21d"]}'>5,3,9,6,5,9,2,5,3,6,7,8,6</span>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="">
      <div class="">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="card shadow overflow-hidden">
              <div class="card-body pb-0">
                <div class="widget text-center">
                  <small class="text-muted">فروش ماهیانه</small>
                  <h2 class="text-xxl mb-0">843</h2>
                </div>
              </div>
              <span class="bar" data-peity='{ "fill": ["#00c3ed"]}'>5,4,5,2,8,4,5,6,5,2,4,4,8,4,6,2,3,4</span>
            </div>
            <div class="card shadow overflow-hidden">
              <div class="card-body pb-0">
                <div class="widget text-center">
                  <small class="text-muted">فروش هفتگی</small>
                  <h2 class="text-xxl mb-0">683</h2>
                </div>
              </div>
              <span class="bar" data-peity='{ "fill": ["#18b16f"]}'>5,4,5,2,8,4,5,6,5,2,4,4,8,4,6,2,3,4</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="">
      <div class="">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-sm-6">
            <div class="card shadow">
              <div class="card-body">
                <div class="widget text-center">
                  <small class="">متوسط درآمد</small>
                  <h2 class="text-xxl mb-1 text-success">142 تومان</h2>
                  <p class="mb-0"><span class=""><i class="fas fa-caret-up ml-1 text-success"></i>
                      4%</span> در ماه گذشته</p>
                </div>
              </div>
            </div>
            <div class="card shadow">
              <div class="card-body">
                <div class="widget text-center">
                  <small class="">خرید حضوری</small>
                  <h2 class="text-xxl mb-1 text-yellow">256 تومان</h2>
                  <p class="mb-0"><span class=""><i class="fas fa-caret-down text-danger ml-1"></i>
                      5%</span> در ماه گذشته</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-sm-6">
            <div class="card shadow">
              <div class="card-body">
                <div class="widget text-center">
                  <small class="">خرید اینترنتی</small>
                  <h2 class="text-xxl text-primary mb-1">329 تومان</h2>
                  <p class="mb-0"><span class=""><i class="fas fa-caret-up text-success ml-1"></i>
                      6%</span> در ماه گذشته</p>
                </div>
              </div>
            </div>
            <div class="card shadow">
              <div class="card-body">
                <div class="widget text-center">
                  <small class="">رشد فروش ماهیانه</small>
                  <h2 class="text-xxl text-danger mb-1">12%</h2>
                  <p class="mb-0"><span class=""><i class="fas fa-caret-down text-danger ml-1"></i>
                      8%</span> در ماه گذشته</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-7">
    <div class="card  shadow overflow-hidden">
      <div class="card-header bg-transparent ">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-light ls-1 mb-1">گزارش</h6>
            <h2 class="mb-0">جزئیات درآمد و سود</h2>
          </div>

        </div>
      </div>
      <div class="card-body">
        <!-- Chart -->
        <div id="echart" class="chart-dropshadow h-400"></div>
      </div>
    </div>
  </div>
  <div class="col-xl-5">
    <div class="card  shadow overflow-hidden">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-light ls-1 mb-1">گزارش</h6>
            <h2 class="mb-0">نمایش فروش ماهیانه</h2>
          </div>

        </div>
      </div>
      <div class="card-body">
        <!-- Chart -->
        <div id="echart2" class="chart-dropshadow h-400"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-light ls-1 mb-1">درآمد</h6>
            <h2 class="mb-0">درآمد تولید شده توسط کشور</h2>
          </div>
        </div>
      </div>
      <div class="">
        <div class="row">
          <div class="col-xl-4">
            <div class="card-body">
              <div class="progress-wrapper pt-2">
                <div class="progress-info">
                  <div class="progress-label">
                    <span>ایران</span>
                  </div>
                  <div class="progress-percentage">
                    <span>70%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100" style="width: 70%;"></div>
                </div>
              </div>
              <div class="progress-wrapper pt-2">
                <div class="progress-info">
                  <div class="progress-label">
                    <span>سنگاپور</span>
                  </div>
                  <div class="progress-percentage">
                    <span>45%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                    aria-valuemax="100" style="width: 45%;"></div>
                </div>
              </div>
              <div class="progress-wrapper pt-2">
                <div class="progress-info">
                  <div class="progress-label">
                    <span>بحرین</span>
                  </div>
                  <div class="progress-percentage">
                    <span>60%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100" style="width: 60%;"></div>
                </div>
              </div>
              <div class="progress-wrapper pt-2">
                <div class="progress-info">
                  <div class="progress-label">
                    <span>مالدیو</span>
                  </div>
                  <div class="progress-percentage">
                    <span>56%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="56" aria-valuemin="0"
                    aria-valuemax="100" style="width: 56%;"></div>
                </div>
              </div>
              <div class="progress-wrapper pt-2">
                <div class="progress-info">
                  <div class="progress-label">
                    <span>کانادا</span>
                  </div>
                  <div class="progress-percentage">
                    <span>30%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                    aria-valuemax="100" style="width: 30%;"></div>
                </div>
              </div>
              <div class="progress-wrapper pt-2">
                <div class="progress-info">
                  <div class="progress-label">
                    <span>چین</span>
                  </div>
                  <div class="progress-percentage">
                    <span>42%</span>
                  </div>
                </div>
                <div class="progress mb-0">
                  <div class="progress-bar bg-default" role="progressbar" aria-valuenow="42" aria-valuemin="0"
                    aria-valuemax="100" style="width: 42%;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 worldmap">
            <div class="card-body">
              <div id="world-map-markers" class="worldh h-400"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header bg-transparent border-0">
        <h2 class=" mb-0">جدول فروش محصولات</h2>
      </div>
      <div class="">
        <div class="grid-margin">
          <div class="">
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap align-items-center">
                <thead class="thead-light">
                  <tr>
                    <th>محصول</th>
                    <th>تعداد</th>
                    <th>بازگشت خورده</th>
                    <th>ارسال شده</th>
                    <th>قیمت</th>
                    <th>وضعیت</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-sm font-weight-600">لباس زنانه</td>
                    <td>18</td>
                    <td>05</td>
                    <td>112</td>
                    <td>2,356 تومان</td>
                    <td>در حال ارسال</td>
                  </tr>
                  <tr>
                    <td class="text-sm font-weight-600">گوشی همراه</td>
                    <td>10</td>
                    <td>04</td>
                    <td>210</td>
                    <td>3,522 تومان</td>
                    <td>در حال ارسال</td>
                  </tr>
                  <tr>
                    <td class="text-sm font-weight-600">هدفون
                    </td>
                    <td>15</td>
                    <td>05</td>
                    <td>215</td>
                    <td>5,362 تومان</td>
                    <td>در حال ارسال</td>
                  </tr>
                  <tr>
                    <td class="text-sm font-weight-600">لباس مردانه
                    </td>
                    <td>21</td>
                    <td>07</td>
                    <td>102</td>
                    <td>1,326 تومان</td>
                    <td>در حال ارسال</td>
                  </tr>
                  <tr>
                    <td class="text-sm font-weight-600">کتونی ورزشی</td>
                    <td>34</td>
                    <td>10</td>
                    <td>325</td>
                    <td>5,234 تومان</td>
                    <td>در حال ارسال</td>
                  </tr>
                  <tr>
                    <td class="text-sm font-weight-600">ساعت دیواری</td>
                    <td>11</td>
                    <td>04</td>
                    <td>5</td>
                    <td>3,256 تومان</td>
                    <td>
                      <i class="fas fa-exclamation-triangle text-warning"></i>
                      لغو سفارش
                    </td>
                  </tr>
                  <tr>
                    <td class="text-sm font-weight-600">لپ تاپ</td>
                    <td>60</td>
                    <td>10</td>
                    <td>0</td>
                    <td>7,652 تومان</td>
                    <td>
                      <i class="fas fa-exclamation-triangle text-danger"></i>
                      لغو سفارش
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
